
body {
	background: 
		url('http://thefashionshows.com/file/3043/2880x1800/crop/mount-rainier-dave-morrow-hd-wallpaper.jpg') 
		no-repeat center center fixed;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

div.profile {
	padding-top: 15%;
}
