

.header {
	padding-top: 20px;
	background: #3D4351;
	color: #FFF;
	font-weight: 300;
	text-align: center;
	font-size: 1.8em;
	font-family: Arial, Helvetica, sans-serif
}

body, p, h1, h2, h3, h4, h5, h6, button, a {
	font-family: Arial, Helvetica, sans-serif;
  }

div.profile {
	padding-top: 15%;
}

/*----- EXPERIENCE INFO -----*/
.experience-section {
	font-size: 12px;
	font-weight: 700;
	margin: 0 0 .5em 0;
	white-space: nowrap;
  }