/*----- SOCIAL MEDIA NAV ----*/
.social-media-nav {
	margin: 0;
	padding: 0;
	display: inline;
}

.social-media-nav li {
	float: left;
	padding: 0.5rem;
}
  
/* ----- LAYOUT ----- */
.layout {
	width: 100%;
	height: auto;
	padding: 5% 0;
	display: flex;
	justify-content: center;
}

/* ----- HEADER ----- */
.profile-header {
	display: flex;
	flex-flow: row nowrap;
	border:solid;
	border-radius: 20px;
	border-style: thin;
	padding: 1.5rem;
}

.profile-header span {
	font-size: 1.5rem;
}

/*----- IMAGE ASSETS  -----*/
.media-icon {
	width: auto;
	height: auto;
	display: block;
	margin-top: 0.75rem;
	max-height: 1.5rem;
	transition: all 0.3s ease-in-out;
}

.profile-picture {
	font-size: 1.75rem;
	line-height: 1.25;
	display: none;
	border-radius: 2px;
	transition: all 0.3s ease-in-out;
}

/*---- SCREEN SIZING -----*/
@media (min-width:1400px) {
	.profile-picture {
		font-size: 2rem
	}
}

@media (min-width:2560px) {
	.profile-picture {
		font-size: 2.25rem
	}
}

@media (min-width:768px) {
	.profile-picture {
		width: auto;
		height: auto;
		max-height: 6.25rem;
		margin-right: 1.125em;
		display: block
	}
}

@media (min-width:1400px) {
	.profile-picture {
		max-height: 6.875rem
	}
}

@media (min-width:2560px) {
	.profile-picture {
		max-height: 7.5rem
	}
}