#toggle-mode-cb {
	display: none;
}

#toggle-mode {
	position: absolute;
	top: 0;
	right: 0;
	padding: 20px;
}

#toggle-mode .toggle-border {
	border: 1px solid #1e1e1e;
	width: 50px;
	height: 20px;
	display: block;
	border-radius: 20px;
	position: relative;
}

#toggle-mode .toggle-indicator {
	width: 16px;
	height: 16px;
	border-radius: 50%;
	position: absolute;
	background-color: #1e1e1e;
	top: 2px;
	left: 2px;
	transition: all 0.3s ease-in-out;
	overflow: hidden;
	box-sizing: border-box;
}

#toggle-mode .toggle-indicator::after {
	content: '';
	width: 14px;
	height: 14px;
	border-radius: 50%;
	position: absolute;
	bottom: -3px;
	right: 5px;
	background-color: #1e1e1e;
}

#toggle-mode-cb:checked + #mode-wrapper {
	background-color: #1e1e1e;
	color: white;
}

#toggle-mode-cb:checked + #mode-wrapper .toggle-border {
	border-color: white;
}

#toggle-mode-cb:checked + #mode-wrapper .toggle-indicator {
	background-color: white;
	left: calc( 50px - 18px);
	transform: rotate(180deg);
}

#mode-wrapper { 
    transition: all 0.3s ease-in-out;
    margin: 0;
    min-height: 100vh;
}